/* roboto-slab-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-slab-v23-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-slab-v23-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-slab-v23-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-slab-v23-latin_cyrillic-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/roboto-slab-v23-latin_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-slab-v23-latin_cyrillic-regular.svg#RobotoSlab")
      format("svg"); /* Legacy iOS */
}
/* roboto-slab-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-slab-v23-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-slab-v23-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-slab-v23-latin_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-slab-v23-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-slab-v23-latin_cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-slab-v23-latin_cyrillic-700.svg#RobotoSlab")
      format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v29-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v29-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v29-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v29-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v29-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v29-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* heebo-regular - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/heebo-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/heebo-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/heebo-v20-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/heebo-v20-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/heebo-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/heebo-v20-latin-regular.svg#Heebo")
      format("svg"); /* Legacy iOS */
}
/* heebo-500 - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/heebo-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/heebo-v20-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/heebo-v20-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/heebo-v20-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/heebo-v20-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/heebo-v20-latin-500.svg#Heebo")
      format("svg"); /* Legacy iOS */
}

/*Project styles starts*/

/*Header styles starts*/
html {
  font-size: 16px;
}
body {
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  min-width: 320px;
  padding: 0px;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*header styles starts*/
header {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
}
.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0px 15px;
}

.conainer_me {
  padding: 0px;
}

.form-control_me {
  display: block;
  width: 100%;
  padding-bottom: 0.5rem;
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 21px;
  color: #212529;
  border: none;
  outline: none;
  border-bottom: 1px solid #324950;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
}

.btn_me {
  width: 24px;
  height: 24px;
  border: none;
  position: absolute;
  right: 10px;
  top: 0px;
  background: url(../images/search-icon.png) no-repeat center;
}

.form_me {
  max-width: 350px;
  position: relative;
}

.nav-link_me {
  display: block;
  padding-right: 2px;
  color: #324950;
  font-family: "Heebo";
  font-weight: 500;
  margin-right: 10px;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  overflow-wrap: normal;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

@media screen and (max-width: 768px) {
  .nav-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #b9b9b9;
    margin-bottom: 5px;
    transition: 0.15s;
  }
  .footer_item:hover {
    border: 1px solid #fff;
  }
}

/*header styles ends*/

/*product styles starts*/

/*back link styles starts*/
.link_wrap {
  padding: 20px 0px;
}
.back_link {
  margin-left: 8px;
  padding-left: 35px;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  vertical-align: middle;
  text-decoration: none;
  color: #57984c;
  position: relative;
}

.back_link::before {
  content: "";
  display: block;
  width: 25px;
  height: 8px;
  background: url(../images/product_link_arrow.png);
  position: absolute;
  top: 6px;
  left: 0;
  transition: 0.15s;
}

.back_link:hover::before {
  left: 5px;
}
/*back link styles end*/
.product {
  background: url(../images/tomato_one-bg.png) center no-repeat;
  background-color: #f8f4f4;
}

.product_title,
.product_subtitle {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 77px;
}
.product_title {
  color: #324950;
}
.product_subtitle {
  color: #57984c;
}

.stars {
  color: #57984c;
  margin: 40px 0px;
}
.image_text {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 43px;
  color: #cf2333;
  padding-left: 100px;
  background: url(../images/image_text-thumb.png) no-repeat;
}

.product_card_title {
  max-width: 185px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #57984c;
  padding-bottom: 13px;
  border-bottom: 1px solid #57984c;
  margin-bottom: 25px;
}
.col-xl-6 {
  padding: 0px;
}
.product_card_list {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 34px;
  color: #324950;
  padding-left: 0px;
  list-style-type: none;
  margin-bottom: 30px;
}
.product_item {
  position: relative;
  padding-left: 20px;
}
.product_item::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: url(../images/product_item-circle.png) no-repeat;
  position: absolute;
  left: 0;
  top: 13px;
}

.product_info {
  transform: translateY(-20%);
}
.product_img {
  margin-bottom: 30px;
}

.product_button_wrap {
  margin-bottom: 40px;
}

.product_button_wrap {
  max-width: 500px;
  margin-bottom: 40px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.product_button {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 34px;
  color: #57984c;
  text-decoration: none;
  padding-left: 20px;
  max-width: 200px;

  padding: 10px 30px 10px 70px;
  border: 2px solid #57984c;
  border-radius: 60px;
  background-image: url(../images/tomato_one-ico-pdf.png);
  background-repeat: no-repeat;
  background-position: 20px;

  transition: 0.15s;
}

.product_button:hover {
  background-color: #858e84;
  color: #fff;
}
.disabled {
  border-color: #858e84 !important;
  color: #858e84 !important;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 34px;
  text-decoration: none;
  max-width: 200px;
  text-align: center;
  padding: 10px 30px 10px 30px;
  border: 2px solid #57984c;
  border-radius: 60px;
}

@media screen and (max-width: 1200px) {
  .product_title,
  .product_subtitle,
  .stars {
    text-align: center;
  }
  .product_title,
  .product_subtitle {
    font-size: 34px;
    line-height: 58px;
  }
  .image_text {
    padding-bottom: 40px;
    max-width: 550px;
    margin: 0 auto;
    font-size: 28px;
    line-height: 48px;
  }

  .product_info {
    transform: translateY(0);
  }
  .product_button_wrap {
    margin: 0px auto 40px auto;
  }
  .product_card {
    max-width: 320px;
    margin: 0 auto;
  }
  .product_img_wrap {
    max-width: 550px;
    margin: 0 auto 20px auto;
  }
  .col-xl-6 {
    padding: 0px;
  }
}

/*footer styles starts*/

.footer_wrap {
  max-width: 1110px;
  margin: 0 auto;
}
.footer_block-1 {
  background-color: #2d3f45;
}

.footer_block-2 {
  background-color: #324950;
}

.footer_nav {
  display: flex;
  list-style-type: none;
  padding: 27px 0px;
  margin-bottom: 0;
  vertical-align: middle;
}

.footer_link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
  margin-right: 25px;
  transition: 0.15s;
}
.footer_link:hover {
  color: #57984c;
}

.footer_icon_link {
  cursor: pointer;
  margin-right: 15px;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0px;
}

.footer_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
  text-align: center;
  padding: 18px 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 905px) {
  .footer_container {
    flex-direction: column;
  }
  .footer_nav {
    justify-content: space-between;
  }
}
@media screen and (max-width: 635px) {
  .footer_links {
    display: flex;
    flex-direction: column;
  }
  .footer_item {
    width: 100%;
    text-align: center;
    background-color: #b9b9b9;
    margin-bottom: 5px;
    transition: 0.15s;
  }
  .footer_item:hover {
    border: 1px solid #fff;
  }
}
